#
# {{ ansible_managed }}
#
{# ansible converts 'yes'/'no' to Booleans with set_fact. #}
{# This cannot be prevented, so the template later converts #}
{# Booleans back to 'yes'/'no' for those parameters that #}
{# need them. #}
# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

Port {{ sshd_port }}
AddressFamily {{ sshd_addressfamily }}
ListenAddress 0.0.0.0
ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
RekeyLimit {{ sshd_rekeylimit }}

# Logging
SyslogFacility {{ sshd_syslogfacility }}
LogLevel {{ sshd_loglevel }}

# Authentication:

LoginGraceTime {{ sshd_logingracetime }}
PermitRootLogin {{ sshd_permitrootlogin }}
StrictModes {{ sshd_strictmodes | ternary('yes', 'no') }}
MaxAuthTries {{ sshd_maxauthtries }}
MaxSessions {{ sshd_maxsessions }}

PubkeyAuthentication {{ sshd_pubkeyauthentication | ternary('yes', 'no') }}

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	{{ sshd_authorizedkeysfile }}

AuthorizedPrincipalsFile {{ sshd_authorizedprincipalsfile }}

AuthorizedKeysCommand {{ sshd_authorizedkeyscommand }}
AuthorizedKeysCommandUser {{ sshd_authorizedkeyscommanduser }}

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
HostbasedAuthentication {{ sshd_hostbasedauthentication | ternary('yes', 'no') }}
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
IgnoreUserKnownHosts {{ sshd_ignoreuserknownhosts | ternary('yes', 'no') }}
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ sshd_ignorerhosts | ternary('yes', 'no') }}

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication {{ sshd_passwordauthentication | ternary('yes', 'no') }}
PermitEmptyPasswords {{ sshd_permitemptypasswords | ternary('yes', 'no') }}

# Change to no to disable s/key passwords
ChallengeResponseAuthentication {{ sshd_challengeresponseauthentication | ternary('yes', 'no') }}

# Kerberos options
KerberosAuthentication {{ sshd_kerberosauthentication | ternary('yes', 'no') }}
KerberosOrLocalPasswd {{ sshd_kerberosorlocalpasswd | ternary('yes', 'no') }}
KerberosTicketCleanup {{ sshd_kerberosticketcleanup | ternary('yes', 'no') }}
KerberosGetAFSToken {{ sshd_kerberosgetafstoken | ternary('yes', 'no') }}

# GSSAPI options
GSSAPIAuthentication {{ sshd_gssapiauthentication | ternary('yes', 'no') }}
GSSAPICleanupCredentials {{ sshd_gssapicleanupcredentials | ternary('yes', 'no') }}
{% if sshd_gssapistrictacceptorcheck is defined %}
GSSAPIStrictAcceptorCheck {{ sshd_gssapistrictacceptorcheck | ternary('yes', 'no') }}
{% endif %}
{% if sshd_gssapikeyexchange is defined %}
GSSAPIKeyExchange {{ sshd_gssapikeyexchange | ternary('yes', 'no') }}
{% endif %}

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ sshd_usepam | ternary('yes', 'no') }}

AllowAgentForwarding {{ sshd_allowagentforwarding | ternary('yes', 'no') }}
AllowTcpForwarding {{ sshd_allowtcpforwarding | ternary('yes', 'no') }}
GatewayPorts {{ sshd_gatewayports | ternary('yes', 'no') }}
X11Forwarding {{ sshd_x11forwarding | ternary('yes', 'no') }}
X11DisplayOffset {{ sshd_x11displayoffset }}
X11UseLocalhost {{ sshd_x11uselocalhost | ternary('yes', 'no') }}
PermitTTY {{ sshd_permittty | ternary('yes', 'no') }}
PrintMotd {{ sshd_printmotd | ternary('yes', 'no') }}
PrintLastLog {{ sshd_printlastlog | ternary('yes', 'no') }}
TCPKeepAlive {{ sshd_tcpkeepalive | ternary('yes', 'no') }}
PermitUserEnvironment {{ sshd_permituserenvironment | ternary('yes', 'no') }}
Compression {{ sshd_compression }}
ClientAliveInterval {{ sshd_clientaliveinterval }}
ClientAliveCountMax {{ sshd_clientalivecountmax }}
UseDNS {{ sshd_usedns | ternary('yes', 'no') }}
PidFile {{ sshd_pidfile }}
MaxStartups {{ sshd_maxstartups }}
PermitTunnel {{ sshd_permittunnel | ternary('yes', 'no') }}
ChrootDirectory {{ sshd_chrootdirectory }}
VersionAddendum {{ sshd_versionaddendum }}

# no default banner path
Banner {{ sshd_banner }}

{% if sshd_acceptenv is defined %}
# Allow client to pass locale environment variables
AcceptEnv {{ sshd_acceptenv }}

{% endif %}
# override default of no subsystems
Subsystem	{{ sshd_subsystem }}

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
